<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.6/js/material-kit.js">#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.6/js/material-kit.js.map">#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.6/js/material-kit.min.js">#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.6/css/material-kit.css">#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.6/css/material-kit.css.map">#}
{#        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-kit/2.0.6/css/material-kit.min.css">#}

    </head>
    <meta charset="UTF-8">
    <title>APAX HRS</title>
    {% block header_block %}
    {% endblock %}
</head>
<body>


<!-- Navigation -->
{% block nav_block %}
    {% include "header-footer/nav.html" %}
{% endblock %}
<!-- Page Content -->

{% block content %}


{% endblock %}
<!-- Bootstrap core JavaScript -->


</body>

{% block footer_block %}
    {% include 'header-footer/footer.html' %}
{% endblock %}

</html>