{% extends "apaxhr/base.html" %}


{% block content %}
    <script type="text/javascript">
        function toggle_visibility(id) {
            var e = document.getElementById(id);
            if (e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }
    </script>

    <hr>
    <hr>
    <hr>
    <div class="container">
        <div class="row ">
            <a href="#" class="col-sm-auto mx-auto btn btn-info" onclick="toggle_visibility('modules');">Click Here
            to show modules</a>
        </div>
        <a href="{%  url 'users:registration' %}" class="btn btn-success"> registration </a>
    </div>
{#    {{ if request.user }}#}


    <div id="modules" class="container" style="display: none">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">APAX HR Tools</h1>
                <p class="lead"><a class="btn btn-success btn-lg" href="{% url 'admin:index' %}">Manage Information
                    Here</a></p>
                {#test#}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Modules</h3>
            </div>
        </div>
        <hr>
        <h2>Release 1</h2>
        <div class="row">
            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Core HR</h5>
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>Employees</li>
                            <li>Resumes/CVs</li>
                            <li>FAS/KPI Certificates</li>
                            <li>ROS Forms</li>
                            <li>Work Permits</li>
                            <li>Degrees</li>
                            <li>TEFL/Teaching Certificates</li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Access Core HR</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <h2>Release 2</h2>
        <div class="row">

            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Automated Notifications</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Email Notifications
                            </li>
                            <li>
                                Document expiration notices
                            </li>

                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <h2>Release 3</h2>
        <div class="row">
            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Employee Self Service</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Salary Information
                            </li>
                            <li>
                                Stipends
                            </li>
                            <li>
                                Bonuses
                            </li>
                            <li>
                                Contracts
                            </li>

                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Benefits Administration</h5>
                        <p class="card-text">

                            Access and manage:
                        <ul>
                            <li>
                                Health Care Benefit information
                            </li>
                            <li>
                                ROS forms
                            </li>
                            <li>
                                Passports
                            </li>
                            <li>
                                Contact Info
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>


        </div>

        <hr>
        <h2>Release 4</h2>
        <div class="row">
            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Employee Performance Review</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Salary Information
                            </li>
                            <li>
                                Stipends
                            </li>
                            <li>
                                Bonuses
                            </li>
                            <li>
                                Contracts
                            </li>

                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Applicant Tracking</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Health Care Benefit information
                            </li>
                            <li>
                                ROS forms
                            </li>
                            <li>
                                Passports
                            </li>
                            <li>
                                Contact Info
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>


        </div>


        <hr>
        <h2>Release 5</h2>
        <div class="row">

            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Payroll</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Salary Information
                            </li>
                            <li>
                                Stipends
                            </li>
                            <li>
                                Bonuses
                            </li>
                            <li>
                                Contracts
                            </li>

                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Benefits Administration</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Health Care Benefit information
                            </li>
                            <li>
                                ROS forms
                            </li>
                            <li>
                                Passports
                            </li>
                            <li>
                                Contact Info
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Go</a>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div id="landing-container" class="container rounded"
         style=" background-size: cover; height:100%; width: 100%; background-position: center;  background-repeat: no-repeat; background-image: url('https://images.unsplash.com/photo-1521087926340-f428c113026c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=964&q=80')">

    </div>
{% endblock %}