{% extends "apaxhr/base.html" %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Module Access</h3>
            </div>
        </div>
        <hr>
        <h2>Release 1</h2>
        <div class="row">
            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Core HR</h5>
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Employees
                            </li>
                            <li>
                                Permits
                            </li>
                            <li>
                                ROS forms
                            </li>
                            <li>
                                Passports
                            </li>
                            <li>
                                Contact Info
                            </li>
                        </ul>

                        </p>
                        <a href="#" class="btn btn-primary">Access Core HR</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h2>Release 2</h2>
        <div class="row">

            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Automated Notifications</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Email Notifications
                            </li>
                            <li>
                                Document expiration notices
                            </li>

                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Manage Notifications</a>
                    </div>
                </div>
            </div>
        </div>


        <hr>
        <h2>Release 3</h2>
        <div class="row">

            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Employee Self Service</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Salary Information
                            </li>
                            <li>
                                Stipends
                            </li>
                            <li>
                                Bonuses
                            </li>
                            <li>
                                Contracts
                            </li>

                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Access and update Employee Info here</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 mx-auto">
                <div class="card">
                    <img src="https://apaxhr-test.s3-ap-southeast-1.amazonaws.com/demo-images/Unknown-1.png"
                         class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Benefits Administration</h5>
                        <p class="card-text">
                        <p class="card-text">
                            Access and manage:
                        <ul>
                            <li>
                                Permits
                            </li>
                            <li>
                                ROS forms
                            </li>
                            <li>
                                Passports
                            </li>
                            <li>
                                Contact Info
                            </li>
                        </ul>
                        </p>
                        <a href="#" class="btn btn-primary">Access Benefits Administration</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}