{% extends "apaxhr/base.html" %}
{% load static %}

{% block content %}

    <div class="container ">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5 display-3">Employee Portal</h1>
                <span class="text-white">Welcome {{ request.user.first_name }}</span>

            </div>
        </div>

        <div class="row my-5">

            <div class="card col-md-4 ">
                <img class="card-img-top my-3"
                     src="https://images.unsplash.com/photo-1528030084539-15fe52c20f1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80">
                <div class="card-body">
                    <h5 class="card-title">Hello </h5>
                    <p class="card-text"> Welcome to your employee portal, where you can manage the essentials of your
                        position.</p>
                    <a href="{% url 'core_hr:document_center' %}" class="btn btn-primary">Documents</a>
                </div>
            </div>


        </div>


        {#                  -----------Action Center--------                  #}
        <hr>
        <div class="row">
            <h3 class="display-4 mx-auto ">Action Items</h3>
        </div>
        <div class="row my-5" id="">


            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top my-2" src="{% static 'images/survey_picture.png' %}" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title">Survey Center</h5>
                    <p class="card-text">Access new surveys and view published results.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top my-5" src="{% static 'images/happy_document.png' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title ">Documents</h5>
                    <p class="card-text">Manage documents here</p>

                    <a href="{% url 'core_hr:document_center' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>

            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Placement Information</h5>
                    <p class="card-text">Access current job description, payroll, stipends, benefits, etc.</p>

                    <a href="{% url 'core_hr:document_center' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>

            <div class="card col-md-3" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Placement history</h5>
                    <p class="card-text">A list of all of your previous placement locations</p>

                    <a href="{% url 'core_hr:document_center' %}" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>

        </div>
        <hr>


    </div>
{% endblock %}